body {
  background: #6D4C80;
  color: white;
  padding: 18px;
}

#result {
  position:relative;
}

.milestone-bar {
  background:white;
  display:block;
  border-radius:3px;
  color:black;
  height:30px;
  margin-bottom:8px;
  position:absolute;
  line-height:30px;
  text-indent:8px;
  font-weight:bold;
}