#milestones {
    background:#efefef;
}
.milestone-element {
    display:block;
}
.milestone-element div, .milestone-element a {
    display:inline-block;
}
.milestone-element a {
    text-align:right;
    text-decoration:underline;
}